<div class="nav-container">
    <a id="top"></a>
    {% if site['notice text'] and page.url == '/' %}
    <div class="bg-primary notice">
        <p>
            {{ site['notice text'] }}
        </p>
    </div>
    {% endif %}
    <nav class="absolute" {% if site['notice text'] != nil and page.url == '/' %}style="top: 40px"{% endif %}>
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    <img class="logo logo-light" alt="Foundry" src="/assets/img/logo-light.png" />
                    <img class="logo logo-dark" alt="Foundry" src="{{ site.logo }}" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li {% if page.url == '/' %}class="active"{% endif %}>
                            <a href="/">Home</a>
                        </li>
                        <li {% if page.url == '/about/' %}class="active"{% endif %}>
                            <a href="/about">About</a>
                        </li>
                        <li {% if page.url == '/services/' %}class="active"{% endif %}>
                            <a href="/services">Services</a>
                        </li>
                        <li {% if page.url contains 'blog' %}class="active"{% endif %}>
                            <a href="https://blog.futurefoundry.in" target="_blank">Blog</a>
                        </li>
                        <li {% if page.url contains '/careers/' %}class="active"{% endif %}>
                            <a href="/careers">Careers</a>
                        </li>
                        <li {% if page.url contains '/contact/' %}class="active"{% endif %}>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>
