/****** PLACE YOUR CUSTOM STYLES HERE ******/
section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.team ul,
.media ul {
  list-style: none;

  li {
    display: inline-block;
    padding: 8px;
  }
}

.media {
  text-align: center;

  ul img {
    max-width: 200px;
  }
}

.nav-is-overlay .page-title-3.image-bg:first-child,
.nav-is-overlay.page-title-3.bg-dark:first-child,
.nav-is-overlay .page-title-4.image-bg:first-child,
.nav-is-overlay.page-title-4.bg-dark:first-child {
  height: 215px;
  padding-top: 55px;
}

.menu .active a {
  color: $color-orange;
}
