---
layout: default
---

<section class="page-title page-title-4 image-bg parallax bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="uppercase mb0">About Us</h3>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3 class="mb64 mb-xs-24">Diversity and difference are our guiding principles.
                    <br /> Our approach is tailored and unique to each client.</h3>
                <div class="tabbed-content button-tabs">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <span>History</span>
                            </div>
                            <div class="tab-content">
                                {{ page.history | markdownify }}
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>Approach</span>
                            </div>
                            <div class="tab-content">
                                {{ page.approach | markdownify }}
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of button tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="pt0 team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb64 mb-xs-40">Team</h4>
            </div>
        </div>
        <div class="row">
            {% for member in page.team %}
            <div class="col-md-4 col-sm-6">
                <div class="image-tile outer-title text-center">
                    <img alt="Pic" src="{{ member.image }}" />
                    <div class="title mb16">
                        <h5 class="uppercase mb0">{{ member.name }}</h5>
                        <span>{{ member.position }}</span>
                        <ul>
                            {% if member.linkedin %}
                            <li><a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if member.facebook %}
                            <li><a href="{{ member.facebook }}" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <p class="mb0">
                      {{ member.info }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="pt0 team">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb64 mb-xs-40">Advisors</h4>
            </div>
        </div>
        <div class="row">
            {% for advisor in page.advisors %}
            <div class="col-md-4 {% if forloop.first == true %}col-md-offset-2{% endif %} col-sm-6">
                <div class="image-tile outer-title text-center">
                    <img alt="Pic" src="{{ advisor.image }}" />
                    <div class="title mb16">
                        <h5 class="uppercase mb0">{{ advisor.name }}</h5>
                        <span>{{ advisor.company }}</span>
                        <ul>
                            {% if advisor.linkedin %}
                            <li><a href="{{ advisor.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% if advisor.facebook %}
                            <li><a href="{{ advisor.facebook }}" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <p class="mb0">
                      {{ advisor.info }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="pt0 media">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb64 mb-xs-40">Media</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="embed-video-container embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ page.media.video }}" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="mt24">
                    {% for article in page.media.articles %}
                    <li><a href="{{ article.link }}" target="_blank"><img src="{{ article.image }}" alt=""></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
