---
layout: default
---

<section class="page-title page-title-4 image-bg parallax bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="uppercase mb0">Blog</h3>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 mb-xs-24">
                {% for post in paginator.posts %}
                <div class="post-snippet mb64">
                    <a href="{{ post.url }}">
                        <img class="mb24" alt="Post Image" src="{{ post['featured image'] }}" />
                    </a>
                    <div class="post-title">
                        <span class="label">23 Sep</span>
                        <a href="{{ post.url }}">
                            <h4 class="inline-block">{{ post.title }}</h4>
                        </a>
                    </div>
                    <ul class="post-meta">
                        <li>
                            <i class="ti-user"></i>
                            <span>Written by
                              <a href="#">{{ post.author }}</a>
                            </span>
                        </li>
                        <li>
                            <i class="ti-tag"></i>
                            <span>Categorized as
                              <a href="#">{{ post.category }}</a>
                            </span>
                        </li>
                    </ul>
                    <hr>
                    <p>
                      {{ post.excerpt }}
                    </p>
                    <a class="btn btn-sm" href="{{ post.url }}">Read More</a>
                </div>
                <!--end of post snippet-->
                {% endfor %}
                <div class="text-center">
                    <ul class="pagination">
                        <li>
                            {% if paginator.previous_page %}
                            <a href="{{ paginator.previous_page_path }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            {% endif %}
                        </li>
                        {% for page in (1..paginator.total_pages) %}
                        <li class="{% if page == paginator.page %}active{% endif %}">
                            <a href="#">{{ page }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            {% if paginator.next_page %}
                            <a href="{{ paginator.next_page_path }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of nine col-->
            <div class="col-md-3 hidden-sm">
                <div class="widget">
                    <h6 class="title">Blog Categories</h6>
                    <hr>
                    <ul class="link-list">
                        {% for category in site.categories %}
                        <li>
                            <a href="#">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--end of widget-->
                <div class="widget">
                    <h6 class="title">Recent Posts</h6>
                    <hr>
                    <ul class="link-list recent-posts">
                        {% for post in site.posts %}
                        <li>
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            <span class="date">{{ post.date | date_to_string }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--end of widget-->
            </div>
            <!--end of sidebar-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
