<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% seo title=false %}
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/all.css?{{site.time | date: '%s%N'}}" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700" rel="stylesheet" type="text/css">
    </head>
    <body class="scroll-assist">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1440384515973320";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% include header.html %}
        <div class="main-container">
            {{ content }}
            {% include footer.html %}
        </div>
        <script src="/assets/js/all.js"></script>
    </body>
</html>
