---
layout: default
---

<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <!-- <div class="background-image-holder">
        <img alt="image" class="background-image" src="/assets/img/home24.jpg" />
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="Logo" class="image-small mb40 mb-xs-0" src="/assets/img/logo-dark.png" />
                <h4 class="mb56 mb-xs-24">
                  {{ content }}
                </h4>
                <a class="btn btn-lg btn-white mb0" href="#contact">Make An Enquiry</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="portfolio-pullup">
    <div class="container">
        <div class="row row-gapless masonry masonryFlyIn">
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <img alt="{{ page['featured images'].vertical[0].caption }}" src="{{ page['featured images'].vertical[0].image }}" />
                    <div class="title">
                        <h5 class="uppercase mb0">{{ page['featured images'].vertical[0].caption }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
                <div class="image-tile inner-title hover-reveal text-center">
                    <img alt="{{ page['featured images'].horizontal[0].caption }}" src="{{ page['featured images'].horizontal[0].image }}" />
                    <div class="title">
                        <h5 class="uppercase mb0">{{ page['featured images'].horizontal[0].caption }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <img alt="{{ page['featured images'].vertical[1].caption }}" src="{{ page['featured images'].vertical[1].image }}" />
                    <div class="title">
                        <h5 class="uppercase mb0">{{ page['featured images'].vertical[1].caption }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
                <div class="image-tile inner-title hover-reveal text-center">
                    <img alt="{{ page['featured images'].vertical[2].caption }}" src="{{ page['featured images'].vertical[2].image }}" />
                    <div class="title">
                        <h5 class="uppercase mb0">{{ page['featured images'].vertical[2].caption }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
                <div class="image-tile inner-title hover-reveal text-center">
                    <img alt="{{ page['featured images'].horizontal[1].caption }}" src="{{ page['featured images'].horizontal[1].image }}" />
                    <div class="title">
                        <h5 class="uppercase mb0">{{ page['featured images'].horizontal[1].caption }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <img alt="{{ page['featured images'].horizontal[2].caption }}" src="{{ page['featured images'].horizontal[2].image }}" />
                    <div class="title">
                        <h5 class="uppercase mb0">{{ page['featured images'].horizontal[2].caption }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-primary">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h2>Our Services</h2>
            </div>
        </div>
        <!--end of row-->
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 mb40 mb-xs-24">
                <i class="fa fa-coffee icon icon-white inline-block mb16"></i>
                <h4>Coffee Sessions</h4>
                <h5>
                  Help business leaders make better technology decisions.
                </h5>
            </div>
            <div class="col-md-3 col-sm-6 mb40 mb-xs-24">
                <i class="fa fa-bolt icon icon-white inline-block mb16"></i>
                <h4>Workshops</h4>
                <h5>
                  Empower practicing engineers with hands-on working knowledge.
                </h5>
            </div>
            <div class="col-md-3 col-sm-6 mb40 mb-xs-24">
                <i class="fa fa-flask icon icon-white inline-block mb16"></i>
                <h4>Labs</h4>
                <h5>
                  Create infrastructure to work on emerging technologies.
                </h5>
            </div>
            <div class="col-md-3 col-sm-6 mb40 mb-xs-24">
                <i class="ti-infinite icon icon-white inline-block mb16"></i>
                <h4>Evaluation</h4>
                <h5>
                  Evaluate engineers through hardware hackathons.
                </h5>
            </div>
            <a class="btn btn-lg btn-white mb0" href="/services/">Know More</a>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb16">Some amazing customers we've had the pleasure to work with</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12">
                <div class="lightbox-grid square-thumbs">
                    <ul>
                        {% assign customers = page.customers | sort:"position" %}
                        {% for customer in customers %}
                        <li>
                            <a href="{{ customer.link }}" target="_blank">
                                <div class="background-image-holder">
                                    <img alt="{{ customer.name }}" class="background-image" src="{{ customer.image }}" />
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--end of lightbox gallery-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div class="container">
        <div class="row mb24 mt48 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h3>People like you love Future Foundry</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            {% for testimonial in page.testimonials %}
            <div class="col-sm-4 text-center">
                <div class="feature boxed cast-shadow-light">
                    <img alt="Pic" class="image-small img-circle inline-block mb24" src="{{ testimonial.image }}" />
                    <h4>"{{ testimonial.adjective }}"</h4>
                    <div class="testimonial">
                        {{ testimonial.testimonial | markdownify }}
                    </div>
                    <span>
                        <strong>{{ testimonial.name }}</strong><br>
                        {{ testimonial.company }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h4 class="uppercase">Get In Touch</h4>
                <p>
                    {{ site.address | markdownify }}
                </p>
                <hr>
                <p>
                    For any service related queries:
                </p>
                <p>
                    <strong>E:</strong> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    <br />
                    <strong>P:</strong> <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
                    <br />
                </p>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form class="form-email" action="https://formspree.io/{{ site.email }}" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                    <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                    <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                    <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                    <!-- CONFIG -->
                    <input class="is-hidden" type="text" name="_gotcha">
                    <input type="hidden" name="_subject" value="Website Form Submission">
                    <!-- /CONFIG -->
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
