---
layout: default
---

<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg parallax">
    <div class="background-image-holder">
        <img alt="image" class="background-image" src="/assets/img/home24.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <img alt="Logo" class="image-small mb40 mb-xs-0" src="/assets/img/logo-light.png" />
                <h4 class="mb56 mb-xs-24">
                    Foundry is a digital design collective, tailoring experiences in web and print for clients all around the globe.
                </h4>
                <a class="btn btn-lg btn-white mb0" href="#contact">Make An Enquiry</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="portfolio-pullup">
    <div class="container">
        <div class="row row-gapless masonry masonryFlyIn">
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="/assets/img/project-single-1.jpg" />
                        <div class="title">
                            <h5 class="uppercase mb0">Happy Couple</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="/assets/img/project-single-2.jpg" />
                        <div class="title">
                            <h5 class="uppercase mb0">Lonely Dog</h5>
                            <span>Animals / Art</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="/assets/img/project-single-3.jpg" />
                        <div class="title">
                            <h5 class="uppercase mb0">Pondering Blonde</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="/assets/img/project-single-5.jpg" />
                        <div class="title">
                            <h5 class="uppercase mb0">Vintage Typewriter</h5>
                            <span>Objects / Isolated</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="/assets/img/project-single-4.jpg" />
                        <div class="title">
                            <h5 class="uppercase mb0">Summer Lovin'</h5>
                            <span>Objects / Food</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="/assets/img/project-single-6.jpg" />
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-primary">
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h3>Our Services</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                <i class="fa fa-coffee icon icon-white inline-block mb16"></i>
                <h4>EMERGING TECH COFFEE SESSION</h4>
                <p>
                    With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
                </p>
            </div>
            <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                <i class="fa fa-bolt icon icon-white inline-block mb16"></i>
                <h4>EMERGING TECH DEEP DIVE</h4>
                <p>
                    We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 mb40 mb-xs-24">
                <i class="fa fa-flask icon icon-white inline-block mb16"></i>
                <h4>EMERGING TECH LABS</h4>
                <p>
                    10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
                </p>
            </div>
            <div class="col-md-5 col-sm-6 mb40 mb-xs-24">
                <i class="ti-infinite icon icon-white inline-block mb16"></i>
                <h4>EXPERIENTIAL EVALUATION</h4>
                <p>
                    With over 100 pre-made HTML templates included, it's easier than ever to find a look that suits you. If not, just create your own with Variant Page Builder!
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb16">Some amazing companies we've had the pleasure to work with</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12">
                <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
                    <ul>
                        {% for customer in page.customers %}
                        <li>
                            <a href="img/cover1.jpg" data-lightbox="true">
                                <div class="background-image-holder">
                                    <img alt="image" class="background-image" src="{{ customer.image }}" />
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--end of lightbox gallery-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<a id="clients"></a>
<section class="pt-xs-80 pb-xs-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3 class="mb48 mb-xs-32">Testimonials</h3>
                <div class="text-slider slider-paging-controls text-center relative">
                    <ul class="slides">
                        {% for testimonial in page.testimonials %}
                        <li>
                            <h5>{{ testimonial.testimonial }}</h5>
                            <div class="quote-author">
                                <img alt="{{ testimonial.name }}" class="image-xs mb16" src="{{ testimonial.image }}" />
                                <h6 class="uppercase mb0">{{ testimonial.name }}</h6>
                                <span>{{ testimonial.company }}</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h4 class="uppercase">Get In Touch</h4>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                </p>
                <hr>
                <p>
                    438 Marine Parade
                    <br /> Elwood, Victoria
                    <br /> P.O Box 3184
                </p>
                <hr>
                <p>
                    <strong>E:</strong> hello@foundry.net
                    <br />
                    <strong>P:</strong> +614 3948 2726
                    <br />
                </p>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                    <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                    <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                    <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
